.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    background-color: rgb(235, 186, 134);
    margin: auto;
    width: 30%;
    margin-top: 100px;
    padding-bottom: 10px;
}

.container>* {
    width: 90%;
}

.container span {
    margin: 10px 0px;
}

.container h1 {
    margin: 10px 0px;
    text-align: center;
}

.margin-top {
    margin-top: 5px;
}